.repositories-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.repositories-container h1 {
  margin-bottom: 32px;
}

.slider-container {
  margin-bottom: 20px;
}

.slick-slide {
  outline: none;
}

.card {
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 800px; /* Aumenta a largura máxima do card para telas maiores */
  text-align: center;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card a {
  color: #9c38f8;
  text-decoration: none;
  font-weight: bold;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  margin: 0 auto;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-button {
  background-color: #9c38f8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #7a2cbb;
}

.title {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* Ajusta a largura para ocupar toda a largura disponível em telas menores */
    max-width: 100%;
  }
}
