.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.text-container {
  max-width: 800px;
}

.about h2 {
  font-size: 36px;
  font-weight: bold;
  color: #f7f4f4;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 64px;
  text-transform: uppercase;
}

.about p {
  font-size: 20px;
  line-height: 1.8;
  text-align: start;
  padding: 20px;
  margin-left: 2px;
  margin-right: 36px;
}

.about img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 100px; /* Ajuste a posição conforme necessário */
  top: 50%; /* Ajuste a posição conforme necessário */
  transform: translateY(-50%);
}

/* about.css */

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.typing-text {
  display: inline-block;
  white-space: pre-wrap;
  overflow: hidden;
  animation: typing 0.5s steps(30, end),
    /* increasing stagger */ blink-caret 0.5s step-end infinite; /*certain items in */
}
