/* about.css */

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.text-container {
  max-width: 1000px;
  text-align: start;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.typing-text {
  display: inline-block;
  white-space: pre-wrap;
  overflow: hidden;
  animation: typing 0.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
}

.about h2 {
  font-size: 36px;
  font-weight: bold;
  color: #f7f4f4;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 64px;
  text-transform: uppercase;
}

.about p {
  font-size: 20px;
  line-height: 1.8;
  padding: 20px;
  margin-left: 2px;
  margin-right: 36px;
}

.about img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}