.about {
  min-height: 100vh; /* Garante que o componente ocupe pelo menos toda a altura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative; /* Permite posicionar o .text-container de forma absoluta */
}

.text-container {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura */
  text-align: start;
  z-index: 1; /* Garante que o texto esteja acima de outros elementos */
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.typing-text {
  display: inline-block;
  white-space: pre-wrap;
  overflow: hidden;
  animation: typing 0.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
}

.about h2 {
  font-size: 36px;
  font-weight: bold;
  color: #f7f4f4;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 64px;
  text-transform: uppercase;
}

.about p {
  font-size: 20px;
  line-height: 1.8;
  padding: 20px;
  margin-left: 2px;
  margin-right: 36px;
}

.about img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 20px; /* Posição ajustada para ser responsiva */
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .text-container {
    padding: 10px; /* Reduz o padding para telas menores */
  }

  .about img {
    width: 200px; /* Reduz o tamanho da imagem para telas menores */
    height: 200px;
    right: 10px; /* Ajusta a posição da imagem */
  }
}
