.navBar {
  background-color: #333;
  padding: 14px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.header-container a:hover {
  color: #9c38f8;
}
